// ==========================================================================
// BUTTON COMPONENT (Універсальний блок кнопки)
// ==========================================================================

.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  // Базові стилі для мобільної версії
  box-sizing: border-box;
  width: 278px;
  height: 56px;
  border: none;
  border-radius: 40px;

  /* Наш міксин шрифту кнопки з abstracts/typography */
  @include form-button;

  // Модифікатор для кнопки в секції Details
  &--explore {
    @include respond-to('tablet') {
      grid-column: 2/6; /* На планшеті стає на всю ширину відведених їй колонок */
    }

    @include respond-to('desktop') {
      grid-column: 5/9;
    }
  }
}
