.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // ==========================================
  // БАЗОВІ СТИЛІ (Мобільна версія / Mobile First)
  // ==========================================
  box-sizing: border-box;
  min-height: 100vh;
  padding: 24px 20px 80px;

  background-image: url(../images/main-img/Image-main.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }

  &__title {
    margin: 0;
    padding-bottom: 88px;

    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    color: #fff;
    text-align: center;
    letter-spacing: -1.5px;
  }

  // ==========================================
  // ПЛАНШЕТНА ВЕРСІЯ (Tablet)
  // ==========================================
  @include respond-to('tablet') {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    place-content: space-between center;

    width: 100%;
    padding: 36px 72px 80px;

    background-position: 100%;
    background-size: cover;

    &__top {
      grid-column: span 6;
    }

    &__icons {
      gap: 32px;
      height: 32px;
    }

    &__bottom {
      grid-column: span 6;
    }

    &__title {
      padding-bottom: 0; /* Скидаємо мобільний паддінг, бо grid сам контролює простір */
      font-size: 64px;
    }
  }

  // ==========================================
  // ДЕСКТОПНА ВЕРСІЯ (Desktop)
  // ==========================================
  @include respond-to('desktop') {
    grid-template-columns: repeat(12, 1fr);

    /* Додаємо фіксовані відступи зверху/знизу замість мобільних, щоб зафіксувати висоту 100vh */
    padding: 48px 120px 80px;

    &__top {
      grid-column: span 12;
    }

    &__bottom {
      grid-column: span 12;
    }
  }
}
