.menu {
  pointer-events: none;

  position: fixed;
  z-index: 100; /* Додав z-index, щоб меню точно перекривало весь контент сайту */
  top: 0;
  left: 0;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 24px;

  // ==========================================
  // БАЗОВІ СТИЛІ (Мобільна версія / Mobile First)
  // ==========================================
  box-sizing: border-box;
  width: 100%;
  height: 100dvh;
  padding: 24px 20px 80px;

  opacity: 0;
  background-color: #c2c2c2;

  transition: opacity 0.3s ease; /* Додав плавне згасання/появу меню */

  // Логіка відкриття меню через CSS Anchor (#menu)
  &:target {
    pointer-events: all;
    opacity: 1;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-link {
    display: inline-block;
  }

  &__logo-img {
    display: block;
    height: auto;
  }

  &__bottom {
    margin-top: 50px; /* Виштовхує контакти в самий низ меню на мобілці */
  }

  &__contact-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__contact-item {
    margin-top: 40px;
  }

  &__contact-link {
    @include nav-title; /* Використовуємо наш шрифт */

    font-size: 16px; // Коригуємо розмір під цей блок
    line-height: 1.68; // 27px
    text-decoration: none;
  }

  &__contact-title {
    @include nav-title;

    font-size: 12px;
    line-height: 1.33; // 16px
    text-transform: uppercase;
  }

  // ==========================================
  // ПЛАНШЕТНА ВЕРСІЯ (Tablet)
  // ==========================================
  @include respond-to('tablet') {
    grid-column: span 6;
    padding: 36px 72px 80px;
  }
}
