.move-free {

  @include respond-to("tablet") {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
  }

  &__title {
    @include section-h2-title;

    @include respond-to("tablet") {
      grid-column: span 3;
    }
  }

  &__text {
    @include section-text;

    @include respond-to("tablet") {
      grid-column: span 3;
    }
  }
}
