.compare-bikes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 92px;
  gap: 48px;

  @include respond-to("tablet") {
    padding-top: 132px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

  }

  &__title {
    @include section-h2-title;

    @include respond-to("tablet") {
      grid-column: 2/6;
    }
  }
}

.bike-card {
  display: flex;
  flex-direction: column;

  @include respond-to("tablet") {
    grid-column: 2/6;
  }

  
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__middle {
    &--title {
      @include card-title;
    }

    &--text {
      @include card-text;
    }
  }

  &__bottom {
    &--price {
      @include card-price;
    }
  }
}
