.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  gap: 48px;

  @include respond-to(tablet) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
  }

  &__title {
    @include section-h2-title;

    @include respond-to(tablet) {
      grid-column: 2/7;
    }
  }

  &__form-container {
    display: flex;
    width: 100%;
    justify-content: center;

    @include respond-to(tablet) {
      grid-column: span 3;

    }

  }

  &__info {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    font-style: normal;
    flex-direction: column;
    gap: 24px;
    padding: 48px 20px 0 20px;

    @include respond-to(tablet) {
      grid-column: span 3;
      padding: 0 24px;
      align-self: start;
    }
  }

  &__info-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    gap: 8px;

  }

  &__label {
    @include footer-p-title;
    margin: 0;
  }

  &__value {
    @include footer-h3-title;
    margin: 0;
    text-decoration: none;
    color: inherit;
    color: #fff;

    &--phone {
      color: #fff;
    }

  }

}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: calc(100vw - 40px);

  &__field {
    width: 100%;
  }

  &__input {
    display: block;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 14px 16px;

    @include form-text;
  }

  &__textarea {
    display: block;
    width: 100%;
    min-height: 148px;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 14px 16px;

    @include form-text;
  }

  &__button {
    display: block;
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 14px 16px;

    @include form-button;
  }
}

