.details {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include respond-to("tablet") {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

  }

  &__title {
    @include section-h2-title;

    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to("tablet") {
      grid-column: span 6;
      padding-top: 120px;
      padding-bottom: 64px;
    }
  }

  &-card {
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include respond-to("tablet") {
      grid-column: span 6;
    }

    &--reverse {
      .details-card__top--img {
        &:first-child {
          @include respond-to("tablet") {
            grid-column: span 2; // Перша картинка стає маленькою (2 колонки)
          }
        }

        &:last-child {
          @include respond-to("tablet") {
            grid-column: span 4; // Друга картинка стає великою (4 колонки)
          }
        }
      }
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      width: calc(100% + 40px);
      margin: 0 0 24px -20px;

      @include respond-to("tablet") {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 24px;
        margin-bottom: 16px;

        width: 100%;
        margin: 0 0 16px 0;

      }

      &--img {
        flex: 1;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        display: block;

        @include respond-to("tablet") {
          height: 187px;
          aspect-ratio: auto;
        }

        &:first-child {
          @include respond-to("tablet") {
            grid-column: span 4;
          }
        }

        &:last-child {
          @include respond-to("tablet") {
            grid-column: span 2;
          }
        }
      }
    }

    &__bottom {

      @include respond-to("tablet") {
        grid-column: 2/6;
      }

      &--title {
        @include card-title;
      }

      &--text {
        @include card-text;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to("tablet") {
      grid-column: 2/6;
      display: block;
    }

    &-inside {
      width: 278px;
      height: 56px;

      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0;
      color: #1d1d1d;

      background-color: #fff;
      border-radius: 40px;

      display: flex;
      justify-content: center;
      align-items: center;

      @include respond-to("tablet") {
        width: 100%;
      }

    }
  }
}
