.footer {
  &__container {
    padding: 48px 0 0 20px;

    @include respond-to ("tablet") {
      padding: 0 72px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &--img {
    padding-top: 120px;
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

.footer__p {
  @include footer-p-title;
}

.footer__h3 {
  @include footer-h3-title;
}

.footer--number {
  text-decoration: none;
  color: #fff;
  list-style: none;
}
