.icon {
  display: block;
  height: 24px;
  width: 24px;

  &--phone {
    background-image: url(../image/Phone-logo.svg);
  }

  &--menu {
    background-image: url(../image/Burger-menu.svg);
  }

  &--close {
    background-image: url(../image/Buttons-close.svg);
  }
}
