.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__item {
    display: flex;
    gap: 32px;
  }

  &__title {
    text-transform: uppercase;
    text-decoration: none;
    color: black;

    @include nav-title;
  }
}
