@import 'abstracts/mixins';
@import 'abstracts/typography';
@import 'abstracts/variables';
@import 'components/icon';
@import 'components/button';
@import 'components/nav';
@import 'components/menu';
@import 'components/header';
@import 'components/about-us';
@import 'components/compare-bikes';
@import 'components/contact-us';
@import 'components/details';
@import 'components/footer';

.body {
  margin: 0;
  background-color: #1d1d1d;
}

.main {
  padding: 60px 20px 0;

  @include respond-to(tablet) {
    padding: 24px 72px 80px;
  }

  @include respond-to("desktop") {
    padding: 120px;
  }


}

// * {
//   outline: 1px solid red !important;
// }